Repository Bboissen/Stashfi: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short, validate-k8s, helm-lint

validate-workflows:
  name: Validate GitHub Actions workflows
  entry: bash scripts/validate-workflows.sh
  language: system
  pass_filenames: false

gosec:
  name: Go security check with gosec
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)/services/api-gateway" && gosec -fmt text -quiet -severity medium ./...'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)/services/api-gateway" && golangci-lint run --fix'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go mod tidy
  entry: bash -c 'cd services/api-gateway && go mod tidy'
  language: system
  pass_filenames: false

go-fmt:
  name: Go format check
  entry: bash -c 'cd services/api-gateway && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-vet:
  name: Go vet
  entry: bash -c 'cd services/api-gateway && go vet ./...'
  language: system
  pass_filenames: false

go-test-short:
  name: Go unit tests (short)
  entry: bash -c 'cd services/api-gateway && go test -short -race ./...'
  language: system
  pass_filenames: false

validate-k8s:
  name: Validate Kubernetes manifests
  entry: bash -c 'find infra/k8s -name "*.yaml" -o -name "*.yml" | xargs -I {} kubeconform -summary -output json {}'
  language: system
  pass_filenames: false

helm-lint:
  name: Lint Helm charts
  entry: bash -c 'for chart in infra/helm/*/; do helm lint "$chart"; done'
  language: system
  pass_filenames: false

ci(docker): fix snyk action tag; skip dependency submission for linters
  .github/workflows/docker-build.yml
Due: validate-workflows

scripts: update local workflow runner and helpers
  scripts/build_ci_toolbox.sh
  scripts/migrate-workflows.sh
  scripts/run-workflows-local.sh
  scripts/validate-workflows.sh
Due: none

feat: enhance mise.toml development configuration
  mise.toml
Due: none

chore(pre-commit): make hooks portable and install tool deps in CI pre-commit job
  .github/VERSIONS.md
  .github/actions/setup-go-cache/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/cost-analysis.yml
  .github/workflows/dashboard.yml
  .github/workflows/dependency-update.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-secret-scan.yml
  .github/workflows/release.yml
  .github/workflows/sbom-management.yml
  .github/workflows/supply-chain-attestation.yml
  .pre-commit-config.yaml
  mise.toml
Due: validate-workflows

chore: format Kong test script and API spec
  scripts/test-kong-gateway.sh
  specs/api-gateway.yaml
Due: none

fix(ci): handle artifact uploads gracefully in local act environment
  .github/workflows/api-gateway-ci.yml
Due: validate-workflows

ci-toolbox: sync toolchain versions and image build config
  infra/containers/ci-toolbox/Dockerfile
  mise.toml
Due: none

fix(ci): update Nancy dependency scanner Docker image
  .github/workflows/api-gateway-ci.yml
Due: validate-workflows

ci(api-gateway): update setup-go v6 and Nancy scanner tag; ensure CI parity
  .github/workflows/api-gateway-ci.yml
Due: validate-workflows

ci(pr-secrets): switch TruffleHog to Docker CLI for PR diff scanning
  .github/workflows/pr-secret-scan.yml
Due: validate-workflows

chore(api-gateway): add golangci-lint config and go.sum for tidy check
  services/api-gateway/.golangci.yml
  services/api-gateway/go.sum
Due: none

fix(api-gateway): resolve golangci-lint and formatting issues
  infra/helm/kong/Chart.yaml
  services/api-gateway/main_test.go
Due: gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short, helm-lint

feat(api-gateway): add basic test suite to improve coverage
  .github/workflows/api-gateway-ci.yml
  services/api-gateway/main_test.go
Due: validate-workflows, gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short

feat(ci): add pre-commit hooks and secret scanning │ │ configuration
  .gitleaks.toml
  .pre-commit-config.yaml
  PRE-COMMIT-SETUP.md
  scripts/setup-pre-commit.sh
  scripts/setup-secret-scanning.sh
Due: none

chore: update project configuration and dependencies
  .github/VERSIONS.md
  PRE-COMMIT-SETUP.md
  scripts/run-workflows-local.sh
  services/api-gateway/Dockerfile
Due: none

ci(container): SBOM rollout (PR fast path), owner lowercase, and scanner tag fixes
  .github/actions/docker-build-scan/action.yml
  .github/workflows/docker-build.yml
Due: validate-workflows

ci: fix Docker build context and simplify CI (use setup-go/helm)
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): improve ACT compatibility for local workflow testing
  .github/workflows/dependency-update.yml
  .github/workflows/sbom-management.yml
  .github/workflows/security-scan.yml
Due: validate-workflows

chore: update GitHub Actions workflows and formatting
  .github/actions/docker-build-scan/action.yml
  .github/actions/setup-go-cache/action.yml
  .github/container-structure-test.yaml
  .github/labeler.yml
  .github/workflows/README.md
  .github/workflows/VERSIONS.md
  .github/workflows/api-gateway-ci.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/cost-analysis.yml
  .github/workflows/dashboard.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docker-build.yml
  .github/workflows/helm-validation.yml
  .github/workflows/integration-test.yml
  .github/workflows/k8s-validation.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-secret-scan.yml
  .github/workflows/release.yml
  .github/workflows/sbom-management.yml
  .github/workflows/security-scan.yml
  .github/workflows/supply-chain-attestation.yml
  .github/workflows/validate-secrets.yml
Due: validate-workflows

chore(actions,versions): bump to latest stable and align docs
  .github/workflows/VERSIONS.md
Due: none

ci(api-integration-test): stabilize Kong routing and proxy checks
  .github/workflows/api-integration-test.yml
Due: validate-workflows

infra(kong+k8s): base values refactor; add prod/local examples, private svc, docs svc, kind config; teardown helper
  infra/helm/kong/values.prod.yaml
  infra/helm/kong/values.yaml
  infra/k8s/api-gateway-deployment.yaml
  infra/k8s/api-gateway-private-service.yaml
  infra/k8s/public-api-docs-deployment.yaml
  infra/k8s/public-api-docs-service.yaml
  infra/kind/kind-stashfi.yaml
  scripts/kind-down.sh
Due: validate-k8s, helm-lint

docs: include docs directory in repository
  .gitignore
  docs/api-gateway-code-map.md
Due: none

ci(api-integration-test): fix Kong APT key, use /tmp prefix, and route /api to 127.0.0.1:8080
  .github/workflows/api-integration-test.yml
Due: validate-workflows

docs: fix whitespace and EOF in guides
  .gitignore
Due: none

chore: reorganize local secret templates
  .github/workflows/_reusable-go-test.yml
  .gitignore
  config/examples/secrets.example
  config/examples/vars.example
Due: validate-workflows

feat(api-gateway): refine proxy + middleware; embed specs; update Dockerfile and main
  .gitignore
  services/api-gateway/Dockerfile
  services/api-gateway/config.go
  services/api-gateway/embed_openapi.go
  services/api-gateway/main.go
  services/api-gateway/main_test.go
  services/api-gateway/middleware.go
  services/api-gateway/openapi/private-api.yaml
  services/api-gateway/openapi/public-api.yaml
  services/api-gateway/openapi_handlers.go
  services/api-gateway/orders_proxy_test.go
  services/api-gateway/proxy.go
  services/api-gateway/ratelimit.go
Due: gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short

chore(ci): stabilize Kong routing and add Spectral OAS rules
  .spectral.yaml
Due: none

chore(gitignore): ignore private documentation
  .gitignore
Due: none

perf(ci): add comprehensive caching and concurrency controls to workflows
  .github/workflows/_reusable-docker-build.yml
  .github/workflows/_reusable-go-test.yml
  .github/workflows/_reusable-helm-validate.yml
  .github/workflows/api-gateway-ci.yml
  .github/workflows/api-integration-test.yml
  .github/workflows/ci-toolbox-build.yml
  .github/workflows/helm-validation.yml
  .github/workflows/security-compliance.yml
Due: validate-workflows

ci(api-integration-test): fix Kong APT key, use /tmp prefix, and correct routing
  .github/workflows/api-integration-test.yml
Due: validate-workflows

style(go): gofmt services/api-gateway files
  .gitleaks.toml
  .gitleaksignore
  services/api-gateway/config.go
  services/api-gateway/main.go
  services/api-gateway/main_test.go
  services/api-gateway/middleware.go
  services/api-gateway/openapi_handlers.go
  services/api-gateway/orders_proxy_test.go
  services/api-gateway/proxy.go
  services/api-gateway/ratelimit.go
Due: gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short

specs(gateway): add public/private specs and update combined spec
  specs/api-gateway.yaml
  specs/private-api.yaml
  specs/public-api.yaml
Due: none

ci: pin Spectral CLI to ^6 and fix ruleset (oas-server-https); use local ruleset in lint step
  .github/workflows/api-integration-test.yml
  .spectral.yaml
Due: validate-workflows

fix(ci): remove npm cache from api integration test workflow
  .github/workflows/api-integration-test.yml
Due: validate-workflows

fix: simplify spectral configuration for early-stage development
  .spectral.yaml
Due: none

docs: sync workflows and service guides with current setup
  .github/SECRETS.md
  .github/VERSIONS.md
  .github/workflows/README.md
  services/api-gateway/README.md
Due: none

fix: correct Kong service configuration in API integration tests
  .github/workflows/api-integration-test.yml
Due: validate-workflows

docs(dev): add kind+Kong quickstart and fallback; route /docs in local Kong example
  README.md
  infra/helm/kong/values.local.yaml.example
  scripts/kind-up.sh
  services/api-gateway/README.md
Due: helm-lint

CI: stabilize API integration tests — fix Postgres health check user; add Kong router readiness wait; simplify route path to / api
  .github/workflows/api-integration-test.yml
Due: validate-workflows

Path conditions:
  validate-workflows: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  gosec: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  golangci-lint: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-mod-tidy: any of: services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-fmt: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-vet: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-test-short: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  validate-k8s: any of: ^infra/k8s/.*\.(yaml|yml)$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  helm-lint: any of: ^infra/helm/.*, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

