Repository Bboissen/Stashfi: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short, validate-k8s, helm-lint

validate-workflows:
  name: Validate GitHub Actions workflows
  entry: bash scripts/validate-workflows.sh
  language: system
  pass_filenames: false

gosec:
  name: Go security check with gosec
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)/services/api-gateway" && gosec -fmt text -quiet -severity medium ./...'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd "$(git rev-parse --show-toplevel)/services/api-gateway" && golangci-lint run --fix'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go mod tidy
  entry: bash -c 'cd services/api-gateway && go mod tidy'
  language: system
  pass_filenames: false

go-fmt:
  name: Go format check
  entry: bash -c 'cd services/api-gateway && test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

go-vet:
  name: Go vet
  entry: bash -c 'cd services/api-gateway && go vet ./...'
  language: system
  pass_filenames: false

go-test-short:
  name: Go unit tests (short)
  entry: bash -c 'cd services/api-gateway && go test -short -race ./...'
  language: system
  pass_filenames: false

validate-k8s:
  name: Validate Kubernetes manifests
  entry: bash -c 'find infra/k8s -name "*.yaml" -o -name "*.yml" | xargs -I {} kubeconform -summary -output json {}'
  language: system
  pass_filenames: false

helm-lint:
  name: Lint Helm charts
  entry: bash -c 'for chart in infra/helm/*/; do helm lint "$chart"; done'
  language: system
  pass_filenames: false

fix: add spectral to mise and fix configuration
  .spectral.yaml
  mise.toml
Due: none

docs: add gateway+directory guides (initial)
  docs/api-gateway-guide.md
  docs/github-directory-guide.md
  docs/infra-directory-guide.md
  docs/services-directory-guide.md
Due: none

ci: trigger on .spectral.yaml changes and add manual dispatch
  .github/workflows/api-integration-test.yml
Due: validate-workflows

ci(ci-toolbox): fix docker/metadata tags to avoid invalid refs
  .github/workflows/ci-toolbox-build.yml
  .github/workflows/helm-validation.yml
Due: validate-workflows

ci(api-gateway): add dedupe to avoid duplicate runs; run on push for feature branches and PR/merge to main
  .github/workflows/api-gateway-ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: validate-workflows

ci(security): run container scan on PRs; add dedupe; restrict push to main and feat/**; avoid duplicate runs
  .github/workflows/security-compliance.yml
Due: validate-workflows

ci: adopt PR-only for branches and push-only for main across workflows; remove dedupe; keep main-only artifact steps
  .github/workflows/api-gateway-ci.yml
  .github/workflows/ci-toolbox-build.yml
  .github/workflows/helm-validation.yml
  .github/workflows/security-compliance.yml
Due: validate-workflows

chore(ci): harden caches and pin tooling
  .github/workflows/_reusable-docker-build.yml
  .github/workflows/api-gateway-ci.yml
  .github/workflows/ci-toolbox-build.yml
  .github/workflows/helm-validation.yml
  .github/workflows/security-compliance.yml
  infra/containers/ci-toolbox/Dockerfile.simple
Due: validate-workflows

chore(ci): speed up toolbox image builds
  infra/containers/ci-toolbox/Dockerfile
Due: none

ci: fix security scan workflows and standardize action pins
  .github/VERSIONS.md
  .github/actions/docker-build-scan/action.yml
  .github/actions/setup-go-cache/action.yml
  .github/workflows/_reusable-docker-build.yml
  .github/workflows/_reusable-go-test.yml
  .github/workflows/_reusable-helm-validate.yml
  .github/workflows/_reusable-security-scan.yml
  .github/workflows/api-integration-test.yml
  .github/workflows/ci-toolbox-build.yml
  .github/workflows/helm-validation.yml
  .github/workflows/security-compliance.yml
Due: validate-workflows

ci: fix trivy false positive and standardize action pins
  .github/VERSIONS.md
  .github/workflows/_reusable-go-test.yml
  .github/workflows/api-integration-test.yml
  .github/workflows/security-compliance.yml
  .trivyignore.yaml
Due: validate-workflows

ci: pass GITHUB_TOKEN to gitleaks and gate SARIF upload on file existence to avoid PR scan path errors
  .github/workflows/_reusable-security-scan.yml
Due: validate-workflows

ci(security-scan): gate SARIF uploads on file existence for gosec/semgrep/trivy; pin gitleaks action to v2.3.9 and inherit secrets in caller
  .github/VERSIONS.md
  .github/workflows/_reusable-security-scan.yml
  .github/workflows/api-gateway-ci.yml
Due: validate-workflows

ci: run container scan in security-compliance only on schedule to avoid duplicate image scanning (Option A)
  .github/workflows/security-compliance.yml
  container-trivy.sarif
  trivy-results.sarif
Due: validate-workflows

chore: ignore SARIF reports and remove accidentally committed *.sarif artifacts
  .gitignore
  container-trivy.sarif
  trivy-results.sarif
Due: none

ci(docker-build): scan container on PRs by tagging locally loaded image and scanning with Trivy action; upload SARIF to Security tab
  .github/workflows/_reusable-docker-build.yml
Due: validate-workflows

ci(security-compliance): exclude ci-toolbox directories from Trivy filesystem scan and gate SARIF upload on file presence
  .github/workflows/security-compliance.yml
Due: validate-workflows

chore(k8s): harden public-api-docs deployment security context
  infra/k8s/public-api-docs-deployment.yaml
Due: validate-k8s

chore(k8s): switch public-api-docs to Swagger UI and harden image policy
  infra/k8s/public-api-docs-deployment.yaml
Due: validate-k8s

chore(k8s): add container-level seccompProfile RuntimeDefault for public-api-docs
  infra/k8s/public-api-docs-deployment.yaml
Due: validate-k8s

chore(k8s): add container-level seccompProfile RuntimeDefault to api-gateway
  infra/k8s/api-gateway-deployment.yaml
Due: validate-k8s

chore(k8s): use GHCR path for api-gateway image (trusted registry)
  infra/k8s/api-gateway-deployment.yaml
Due: validate-k8s

chore(docker): add HEALTHCHECK to api-gateway Dockerfile (/ready)
  services/api-gateway/Dockerfile
Due: none

chore(docker): add HEALTHCHECK NONE to ci-toolbox image
  infra/containers/ci-toolbox/Dockerfile
Due: none

chore(k8s): public-api-docs add resources and rename container to swagger; api-gateway drop all caps and block privilege escalation
  infra/k8s/api-gateway-deployment.yaml
  infra/k8s/public-api-docs-deployment.yaml
Due: validate-k8s

ci(api-gateway): add job to pin manifest to built image digest
  .github/workflows/api-gateway-ci.yml
Due: validate-workflows

security: ignore AVD-KSV-0125 via .trivyignore and keep docs image under ghcr.io/stashfi; remove file-level skip to keep full scanning
  .github/workflows/_reusable-security-scan.yml
  .github/workflows/security-compliance.yml
  .trivyignore
  .trivyignore.yaml
  infra/k8s/api-gateway-deployment.yaml
  services/api-gateway/Dockerfile
Due: validate-workflows, validate-k8s

chore(ci): avoid double API integration runs
  .github/workflows/api-integration-test.yml
Due: validate-workflows

chore(ci-toolbox): default registry to repository owner
  .actrc
  infra/containers/ci-toolbox/Dockerfile
  scripts/build_ci_toolbox.sh
  scripts/run-workflows-local.sh
  scripts/validate-workflows.sh
Due: none

ci: fix workflow booleans + lowercase GHCR owner and cache formatting
  .github/workflows/_reusable-docker-build.yml
  .github/workflows/api-gateway-ci.yml
  .github/workflows/ci-toolbox-build.yml
  scripts/build_ci_toolbox.sh
  scripts/run-workflows-local.sh
  scripts/validate-workflows.sh
Due: validate-workflows

Path conditions:
  validate-workflows: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  gosec: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  golangci-lint: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-mod-tidy: any of: services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-fmt: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-vet: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-test-short: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  validate-k8s: any of: ^infra/k8s/.*\.(yaml|yml)$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  helm-lint: any of: ^infra/helm/.*, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

