Repository Bboissen/Stashfi: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-workflows, gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short, validate-k8s, helm-lint

Path conditions:
  validate-workflows: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  gosec: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  golangci-lint: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-mod-tidy: any of: services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-fmt: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-vet: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  go-test-short: any of: ^services/api-gateway/.*\.go$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  validate-k8s: any of: ^infra/k8s/.*\.(yaml|yml)$, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$

  helm-lint: any of: ^infra/helm/.*, but not: (?x)^(
  .*\.pb\.go|
  .*\.pb\.gw\.go|
  vendor/.*|
  third_party/.*|
  .*\.git/.*|
  .*\.idea/.*
)$


scripts: update local workflow runner and helpers
  scripts/build_ci_toolbox.sh
  scripts/migrate-workflows.sh
  scripts/run-workflows-local.sh
  scripts/validate-workflows.sh
Due: none

ci-toolbox: sync toolchain versions and image build config
  infra/containers/ci-toolbox/Dockerfile
  mise.toml
Due: none

dev: update act config and add gitleaks ignore
  .actrc
  .gitleaksignore
Due: none

fix(kong): improve security configuration
  infra/helm/kong/values.yaml
  scripts/deploy-local.sh
Due: helm-lint

feat(api-gateway): enhance service with production-ready features
  services/api-gateway/Dockerfile
  services/api-gateway/README.md
  services/api-gateway/go.sum
  services/api-gateway/main.go
Due: gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short

docs: add project documentation and development configuration
  .gitignore
  mise.toml
Due: none

feat(ci): add comprehensive GitHub Actions workflows
  .github/SECRETS.md
  .github/VERSIONS.md
  .github/actions/docker-build-scan/action.yml
  .github/actions/setup-go-cache/action.yml
  .github/container-structure-test.yaml
  .github/labeler.yml
  .github/workflows/README.md
  .github/workflows/VERSIONS.md
  .github/workflows/api-gateway-ci.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/cost-analysis.yml
  .github/workflows/dashboard.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docker-build.yml
  .github/workflows/helm-validation.yml
  .github/workflows/integration-test.yml
  .github/workflows/k8s-validation.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-secret-scan.yml
  .github/workflows/release.yml
  .github/workflows/sbom-management.yml
  .github/workflows/security-scan.yml
  .github/workflows/supply-chain-attestation.yml
  .github/workflows/validate-secrets.yml
Due: validate-workflows

chore(api-gateway): scaffold service, specs and tests
  infra/helm/api-gateway/Chart.yaml
  infra/helm/api-gateway/values.yaml
  services/api-gateway/Dockerfile
  services/api-gateway/README.md
  services/api-gateway/cmd/api-gateway/main.go
  services/api-gateway/go.mod
  services/api-gateway/internal/handler/health.go
  services/api-gateway/proto/api.proto
  specs/api-gateway.yaml
  tests/api-gateway/integration/api_gateway_test.go
  tests/api-gateway/unit/handler_test.go
Due: gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short, helm-lint

feat(security): add security scanning and pre-commit hooks
  .gitleaks.toml
  .pre-commit-config.yaml
  scripts/check-docker-updates.sh
  scripts/setup-secret-scanning.sh
Due: none

feat(api-gateway): setup Kong API Gateway with Go service
  .gitignore
  LICENSE
  infra/helm/api-gateway/Chart.yaml
  infra/helm/api-gateway/values.yaml
  infra/helm/kong/Chart.yaml
  infra/helm/kong/values.yaml
  infra/k8s/api-gateway-deployment.yaml
  mise.toml
  scripts/deploy-local.sh
  scripts/test-kong-gateway.sh
  services/api-gateway/Dockerfile
  services/api-gateway/README.md
  services/api-gateway/cmd/api-gateway/main.go
  services/api-gateway/go.mod
  services/api-gateway/go.sum
  services/api-gateway/internal/handler/health.go
  services/api-gateway/main.go
  services/api-gateway/proto/api.proto
  specs/api-gateway.yaml
  tests/README.md
  tests/api-gateway/integration/api_gateway_test.go
  tests/api-gateway/unit/handler_test.go
Due: gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short, validate-k8s, helm-lint

chore: Untrack docs folder
  .gitignore
Due: none

ci(actions): secure Kong APT repo and fix Kong permissions in integration workflow
  .github/workflows/api-integration-test.yml
Due: validate-workflows

ci(helm/k8s): target Kubernetes v1.30 and drop kubeval (use kubeconform)
  .github/workflows/helm-validation.yml
  .github/workflows/integration-test.yml
  .github/workflows/k8s-validation.yml
Due: validate-workflows

chore: clean up unused files and fix Kong installation
  .github/.pre-commit-config.yaml
  .github/container-structure-test.yaml
  .github/labeler.yml
  .github/workflows/api-integration-test.yml
  scripts/check-docker-updates.sh
  scripts/deploy-local.sh
  scripts/diagnose-workflow.sh
  scripts/docker_build_scan.sh
  scripts/fix-workflows-for-testing.sh
  scripts/helm_kind_test.sh
  scripts/migrate-workflows.sh
  scripts/scan_versions.py
  scripts/test-all-workflows.sh
  scripts/test-kong-gateway.sh
Due: validate-workflows

chore: updated README
  README.md
Due: none

ci(security): use Semgrep via Docker CLI; standardize Go versions; minor action pinning
  .github/workflows/security-scan.yml
Due: validate-workflows

chore(gitignore): ignore database artifacts (*.sql, *.dbdiagram)
  .gitignore
Due: none

fix(helm): resolve helm validation workflow issues
  .github/workflows/helm-validation.yml
Due: validate-workflows

ci: make go mod tidy check robust; fix yq install for arm64
  .github/workflows/api-gateway-ci.yml
  .github/workflows/helm-validation.yml
Due: validate-workflows

fix(ci): update govulncheck to v1.1.4 for Go 1.25 compatibility
  .github/workflows/api-gateway-ci.yml
  .github/workflows/security-scan.yml
Due: validate-workflows

fix(scripts): address shellcheck warning for unused variable
  scripts/test-kong-gateway.sh
Due: none

feat: update API gateway and Kong configuration
  infra/helm/kong/Chart.yaml
  infra/helm/kong/values.yaml
  infra/k8s/api-gateway-deployment.yaml
  infra/k8s/api-gateway-service.yaml
  services/api-gateway/main.go
Due: gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short, validate-k8s, helm-lint

ci(api-gateway): adjust Go matrix versions and coverage threshold check
  .github/workflows/api-gateway-ci.yml
Due: validate-workflows

chore: updated README
  README.md
  services/api-gateway/README.md
Due: none

fix(ci): correct codecov-action input and env.ACT syntax
  .github/workflows/api-gateway-ci.yml
Due: validate-workflows

fix(api-gateway): resolve golangci-lint configuration and code issues
  services/api-gateway/.golangci.yml
  services/api-gateway/main.go
Due: gosec, golangci-lint, go-mod-tidy, go-fmt, go-vet, go-test-short

workflows: migrate and harden CI set
  .github/VERSIONS.md
  .github/workflows/README.md
  .github/workflows/_reusable-docker-build.yml
  .github/workflows/_reusable-go-test.yml
  .github/workflows/_reusable-helm-validate.yml
  .github/workflows/_reusable-security-scan.yml
  .github/workflows/api-gateway-ci.yml
  .github/workflows/api-integration-test.yml
  .github/workflows/benchmark.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-toolbox-build.yml
  .github/workflows/ci-toolbox.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/cost-analysis.yml
  .github/workflows/dashboard.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docker-build.yml
  .github/workflows/helm-validation.yml
  .github/workflows/integration-test.yml
  .github/workflows/k8s-validation.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-secret-scan.yml
  .github/workflows/release.yml
  .github/workflows/sbom-management.yml
  .github/workflows/security-compliance.yml
  .github/workflows/security-scan.yml
  .github/workflows/supply-chain-attestation.yml
  .github/workflows/validate-secrets.yml
  .github/workflows/version-guard.yml
  .pre-commit-config.yaml
Due: validate-workflows

ci(helm): pluto/kubeconform via stdin to work under act; fix mounts
  .github/workflows/helm-validation.yml
Due: validate-workflows

chore(ci): update all GitHub Actions to latest versions
  .github/workflows/api-gateway-ci.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docker-build.yml
  .github/workflows/helm-validation.yml
  .github/workflows/pr-secret-scan.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
Due: validate-workflows

fix(ci): correct dependency-review-action input and add ACT compatibility
  .github/workflows/dependency-update.yml
  .github/workflows/sbom-management.yml
  .github/workflows/security-scan.yml
Due: validate-workflows

chore: add act-based local workflow runner script
  scripts/run-workflows-local.sh
Due: none

chore: update GitHub configuration files
  .github/SECRETS.md
  .github/VERSIONS.md
Due: none

fix: update Kong installation for Ubuntu 24.04 in GitHub Actions
  .github/workflows/api-integration-test.yml
Due: validate-workflows

fix: replace SLSA reusable workflow with cosign signing
  .github/workflows/supply-chain-attestation.yml
Due: validate-workflows

fix(helm): add Chart.lock and update gitignore for proper dependency tracking
  .gitignore
  infra/helm/kong/Chart.lock
Due: helm-lint

chore(pre-commit): add portable config under .github and keep root pre-commit hooks in sync
  .github/.pre-commit-config.yaml
Due: none

docs: update documentation and scripts
  LICENSE
  README.md
  scripts/check-docker-updates.sh
  tests/README.md
Due: none

chore(api-gateway): align builder image to Go 1.23
  services/api-gateway/Dockerfile
Due: none
